<%- include("./partials/header") %>

<!-- Jumbotron -->
<div class="jumbotron">
	<div id="jumboName">
		<% if(currPage == "art"){ %>
			<h1><img src="/images/art_jumbo.png" width="200px" height="200px"> Art Collection</h1>
		<% } else if (currPage == "image") { %>
			<h1><img src="/images/gal_jumbo.png" width="200px" height="200px"> Image Gallery</h1>
		<% } else if (currPage == "portrait") { %>
			<h1><img src="/images/portrait_icon.png" width="200px" height="200px"> Portraits</h1>
		<% } %>
		<hr>
		<% if(currPage == "art"){ %>
			<p class="lead">Perspective redefined, Vision when put forth on paper shows it all.</p>
		<% } else if (currPage == "image") { %>
			<p class="lead">A sight captivates, Frame captures.</p>
		<% } else if (currPage == "portrait") { %>
			<p class="lead">Beauty lies in the eyes of the beholder.</p>
		<% } %>
	</div>
</div>

<%- include("./partials/flash_msgs") %>

<div class="container">
	<div>
		<!-- Add images from the list of links -->
		<div class="row images d-flex justify-content-center">
			<% var img_arr = link_arr.slice(); %>
			<% while (img_arr.length != 0) { var curr_idx = Math.floor(Math.random() * (img_arr.length)); %>
				<div class='col-8 col-md-4 col-lg-3'><img class='myImg img-thumbnail' 
					alt="<%= img_arr[curr_idx].title %>|<%= img_arr[curr_idx].description %>" 
					src=" <%= img_arr[curr_idx].link %> ">
				</div>
				<% img_arr.splice(curr_idx, 1); } %>
		</div>
		
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- The Close Button -->
			<span class="close">&times;</span>
			<!-- Modal Content (The Image) -->
			<img class="modal-content" id="img01">
			<!-- Modal Caption (Image Text) -->
  			<div id="caption"></div>
			<!-- Modal Image Description  -->
			<div <% if (currPage == "portrait") { %> class= "d-none" <% } %> >
				<em><div id="descrip"></div></em>
			</div>
			
		</div>
	</div>
</div>

<%- include("./partials/footer") %>