<%- include("./partials/header") %>
<!-- Jumbotron -->
<div class="jumbotron">
	<div id="jumboName">
		<h1><!--<img src="/images/gift_jumbo.png" alt="" width="200px" height="200px"> -->Orders</h1>
	</div>
	<hr>
	<p class="lead">Memories when put forth in black and white  refresh the connect.<br>Gift them the worthwhile shades with the tinge of gesture.</p>
</div>

<%- include("./partials/flash_msgs") %>

<!-- Contents -->
<div class="container-fluid">
	<!-- <div class="row d-flex justify-content-around">
		<div id="self" class="col-9 col-lg-4">
			<hr class="mb-5">
			<div><img class="img-thumbnail" src="/images/me.jpeg"></div>
			<hr>
		</div> -->
		<!-- Description -->
		<!-- <div class="details col-9 col-lg-7">
			<div class="mt-3">
				<p><em><i class="fas fa-quote-left"></i> Every opportunity is often a path to great endeavors. <i class="fas fa-quote-right"></i></em><br><br>
				Hello aesthetes, my name is Sourabh Kulkarni and I have been drawing sketches and portraits from past 2 years. In my journey through the art realm <i class="fas fa-globe-asia"></i> , I have come across varieties of art-forms which have progressively accured my ability as an individual in this arena. The learnings from each dot, each line and each stroke, have contributed to every shade on the paper <i class="fas fa-scroll"></i> .<br><br>
				Do checkout my art works and if you are interested to get one for yourself or gift your loved ones <i class="fas fa-gifts"></i> , you can fill out the form and submit. I will reach out to you and craft the best out of your wishes.<br>
				Your feedback <i class="fas fa-comment-alt"></i> is awaited in the comment section.
				</p>
			</div>
		</div> -->
	</div>
	
	<!-- Tabs -->
	<div class="row d-flex justify-content-around">
		<div class="tabs col-8 col-lg-5">My works<hr></div>
		<div class="tabs col-8 col-lg-5 d-none d-lg-block">Get Quote<hr></div>
	</div>
	<div class="row d-flex justify-content-around">
		<!-- Image slideshow -->
		<div id="imageDisplay" class="col-8 col-lg-5"></div>
		<div class="tabs col-8 d-block d-lg-none mt-5">Get Quote<hr></div>
		<!-- Form -->
		<div class="col-8 col-lg-5">
			<form action='/order/quote' method='POST' enctype="multipart/form-data">
				<div class="form-group">
					<label for="nameinput">Name: </label>
					<input type="text" class="form-control" id="nameinput" name='name' required>
				</div>
				
				<div class="form-group">
					<label for="emailinput">E-mail: </label>
					<input type="email" class="form-control" id="emailinput" placeholder="name@example.com" name='email' required>
				</div>
				<div class="form-group">
					<label for="phnumber">Contact No: </label>
					<input type="tel" class="form-control" id="phnumber" name='num' pattern="[0-9]{5,10}" placeholder="+91" required>
				</div>
				<div class="form-group input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked-alt"></i></span>
					</div>
					<input type="text" class="form-control" name='city' placeholder="City" aria-label="city" aria-describedby="basic-addon1" required>
				</div>
				<div class="d-flex justify-content-between">
					<label for="sizeinput">Sketch size: </label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="size" id="inlineRadio0" value="a2" required>
						<label class="form-check-label" for="inlineRadio0">A2</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="size" id="inlineRadio1" value="a3">
						<label class="form-check-label" for="inlineRadio1">A3</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="size" id="inlineRadio2" value="a4">
						<label class="form-check-label" for="inlineRadio2">A4</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="size" id="inlineRadio3" value="a5">
						<label class="form-check-label" for="inlineRadio3">A5</label>
					</div>
				</div>
				
				<div class="form-group">
					<label for="sketchtype">Sketch Type: </label>
					<select id="sketchtype" class="form-control" name='type'>
						<option selected>Black & White</option>
						<option>Color</option>
						<option>Invert Art</option>
						<option>Spiral/Line Art</option>	
						<option>Stick Art</option>
						<option>Other(Specify in Remarks)</option>
					</select>
				</div>
				
				<div class="form-group">
					<div class="custom-file">
						<input name='file' type="file" class="custom-file-input" id="uploadfile" aria-describedby="inputGroupFileAddon04" required>
						<label class="custom-file-label" for="uploadfile">Choose reference picture</label>
				  	</div>
				</div>	
				
				<div class="form-group">
					<label for="textAreaInput">Remarks [Optional]: </label>
					<textarea class="form-control" id="textareainput" name='remarks' rows="3" placeholder="Have any special request or comments?"></textarea>
				</div>
				
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-lg btn-outline-success form-group"><i class="fas fa-check"></i>  Submit</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Details -->
	<!-- <div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-7">
		<div class="tabs">
			<i class="fas fa-drafting-compass"></i> Details<hr>
		</div>
		<div class="details">
			<ul>
				<li><i class="fas fa-feather-alt"></i> Sketches will be made on good quality drawing sheets using  <u><a target="_blank" href="https://www.instagram.com/p/B1rEYEMhXzb/?utm_source=ig_web_copy_link">professional tools.</a></u></li>
				<li><i class="fas fa-feather-alt"></i> The cost for each type will vary depending on the reference picture<br>and size of the sketch.</li>
				<li><i class="fas fa-feather-alt"></i> Frames will cost extra [Optional].</li>
				<li><i class="fas fa-feather-alt"></i> Shipping excluded. The shipping charges will depend on the location of delivery.</li>
				<li><i class="fas fa-feather-alt"></i> Clear close-up pictures preferred for portraits.</li>
				<li><i class="fas fa-feather-alt"></i> Mode of payment - Paytm, PhonePe or Google Pay.</li>
				<li><i class="fas fa-feather-alt"></i> Advance amount should be paid for confirmation of the order.</li>
				<li><i class="fas fa-feather-alt"></i> No cancellation and no refund.</li>
			</ul>
		</div>
	</div> -->
</div>

<!-- Comment section -->
<div class='container'>
	<div class='row d-flex justify-content-center'>
		<!-- New comment link -->
		<a href='/order/review'><button class="btn btn-lg btn-outline-light mt-5"><i class="far fa-comment"></i> Add a comment</button></a>
	</div>
	<hr class='white-hr mb-3'>
	<div class='container commentSection'>
	<!-- Loop through all reviews/comments -->
	<% for(var i=0; i < review_list.length; i++) { %>
		<div class='row d-flex justify-content-around commentRow'>
			<div class='col-2 col-md-1 user'>
				<i class="fas fa-user-astronaut"></i>
			</div>
			<div class=' col-10 comment'>
				<div><h3><%= review_list[i].name %></h3></div>
				<div><h6><%= review_list[i].text %></h6></div>
			</div>
			<!-- Edit and delete buttons -->
			<!-- <div class='col-4 col-md-2 commentButtons'>
				<a class='btn btn-xs btn-warning' href='/order/review/<%= review_list[i]._id %>/edit'><i class="fas fa-pencil-alt"></i></a>
				<form class="d-inline" action='/order/review/<%= review_list[i]._id %>?_method=DELETE' method='POST'>
					<button class='btn btn-xs btn-danger'><i class="far fa-trash-alt"></i></button>
				</form>
			</div> -->
		</div>
		<hr class='mb-0'>
	<% } %>
	</div>
</div>

<!-- Send the link array for slideshow to frontend JS -->
<script>var link_arr = <%-JSON.stringify(link_arr)%>;</script>
<%- include("./partials/footer") %>